<div class="wrapper">
    <div id="navbar" class="grid">
        
            <h1 id="brand">Brand</h1>
            <button class="butt">New Scrape</button>
            <button class="butt">Clear Scrapes</button>
        
    </div>
    <div id="jumboTime">
        <div class="back-image"></div>
        <div class="contentwrap">
            <h1>Lets scrape the onion</h1>
        </div>
    </div>

</div>