#navbar{
overflow:hidden;
background-color:#80aebd;
z-index:2;
display:flex;
justify-content:center;
}

/* styling for brand on navbar */
#brand{
    color:blue;
}

/* jumbotron for main image */
#jumboTime{
     min-height: 425px;
    background-color:pink;
}

/* jumbo background image */
#jumboTime .back-image {
    
        position:absolute;
        background:url("");
        background-position:center;
        background-repeat:no-repeat;
        width:100%;
        height:500px;
        z-index:-1;
}

/* navbar butttons */
.butt{
    color:purple;
}